<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>all articles</h1>

        <% for(var i=0; i < articles.length; i++) { %>
            
                <div >
                    <div class="row">
                        
                        <div class="col-3">
                                <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title"><%= articles[i].title %></h5>
                                          <h6 class="card-subtitle mb-2 text-muted"><%= articles[i].author %></h6>
                                          <p class="card-text"><%= articles[i].description %></p>
                                          <a href="#" class="card-link">Card link</a>
                                          <a href="#" class="card-link">Another link</a>
                                        </div>
                                      </div>
                        </div>

                        <div class="col-3">
                                <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title"><%= articles[i].title %></h5>
                                          <h6 class="card-subtitle mb-2 text-muted"><%= articles[i].author %></h6>
                                          <p class="card-text"><%= articles[i].description %></p>
                                          <a href="#" class="card-link">Card link</a>
                                          <a href="#" class="card-link">Another link</a>
                                        </div>
                                      </div>
                        </div>

                        <div class="col-3">
                                <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title"><%= articles[i].title %></h5>
                                          <h6 class="card-subtitle mb-2 text-muted"><%= articles[i].author %></h6>
                                          <p class="card-text"><%= articles[i].description %></p>
                                          <a href="#" class="card-link">Card link</a>
                                          <a href="#" class="card-link">Another link</a>
                                        </div>
                                      </div>
                        </div>

                        <% if ( (i + 1) % 2 == 0 ) { %>
                            <div class="w-100"></div>
                        <% } %>
                     
                    </div>
                </div>
            <% } %>
        
        
    </div>
</body>
</html>