<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DarEn BLOG || HOME</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/liner_icon.css">
    <link rel="stylesheet" href="css/search.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!--::header part start::-->
    <% include ./partials/header %>
    <!-- Header part end-->

    <!-- banner post start-->
    <section class="banner_post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_post_1 banner_post_bg_1">
                        <div class="banner_post_iner text-center">
                            
                            <h2><%= articles[0].title %> <br></h2>
                            
                        </div>
                    </div>
                    <div class="banner_post_2 banner_post_bg_2">
                        <div class="banner_post_iner">
                            <h2><%= articles[1].title %></h2> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner post end-->

    <!-- feature_post start-->
    <section class="feature_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_feature_post post_1">
                        <img src=<%= articles[0].imgPath %> alt="">
                        <div class="post_text_1 pr_30">
                            <h5><%= articles[0].category %></h5>
                            <a href="/<%= articles[0]._id %>">
                                <h3><%= articles[0].title %></h3>
                            </a>
                            <p><span> By<%= articles[0].author %></span> / <%= articles[0].date %></p>
                            <div class="post_icon">
                                <ul>
                                    <li><i class="ti-export"></i>Share</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single_feature_post post_1 d-block d-sm-none d-lg-block">
                        <div class="post_text_1 pl_pr_30">
                            <h5><%= articles[1].category %></h5>
                            <a href="/<%= articles[1]._id %>">
                                <h3><%= articles[1].title %></h3>
                            </a>
                            <p><span> By <%= articles[1].author %></span> / <%= articles[1].date %></p>
                            <div class="post_icon">
                                <ul>
                                    <li><i class="ti-export"></i>Share</li>
                                </ul>
                            </div>
                        </div>
                        <img src=<%= articles[1].imgPath %> alt="">
                    </div>
                    <div class="single_feature_post post_1">
                        <img src=<%= articles[2].imgPath %> alt="">
                        <div class="post_text_1 pl_pr_30">
                            <h5><%= articles[2].category %></h5>
                            <a href="/<%= articles[2]._id %>">
                                <h3><%= articles[2].title %></h3>
                            </a>
                            <p><span> By <%= articles[2].author %></span> / <%= articles[2].date %></p>
                            <div class="post_icon">
                                <ul>
                                    <li><i class="ti-export"></i>Share</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_post end-->

    <!-- border_top start-->
    <div class="border_top"></div>
    <!-- border_top end-->

    <!-- feature_post start-->
    <section class="catagory_post">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_catagory_post post_2">
                        <div class="category_post_img">
                            <img src=<%= articles[3].imgPath %> alt="">
                            <a href="" class="category_btn"><%= articles[3].category %></a>
                        </div>
                        <div class="post_text_1 pr_30">
                            <p><span> By <%= articles[3].author %></span> / <%= articles[3].date %></p>
                            <a href="/<%= articles[3]._id %>">
                                <h3><%= articles[3].title %></h3>
                            </a>
                            <div class="post_icon">
                                <ul>
                                    <li><i class="ti-export"></i>Share</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="single_catagory_post post_2">
                        <div class="category_post_img">
                            <img src=<%= articles[4].imgPath %> alt="">
                            <a href="" class="category_btn"><%= articles[4].category %></a>
                        </div>
                        <div class="post_text_1 pr_30">
                            <p><span> By <%= articles[4].author %></span> / <%= articles[4].date %></p>
                            <a href="/<%= articles[4]._id %>">
                                <h3><%= articles[4].title %></h3>
                            </a>
                            <div class="post_icon">
                                <ul>
                                    <li><i class="ti-export"></i>Share</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="single_catagory_post post_2">
                        <div class="category_post_img">
                            <img src=<%= articles[5].imgPath %> alt="">
                            <a href="" class="category_btn"><%= articles[5].category %></a>
                        </div>
                        <div class="post_text_1 pr_30">
                            <p><span> By <%= articles[5].author %></span> / <%= articles[5].date %></p>
                            <a href="/<%= articles[5]._id %>">
                                <h3><%= articles[5].title %></h3>
                            </a>
                            <div class="post_icon">
                                <ul>
                                    <li><i class="ti-export"></i>Share</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                
               
            </div>
        </div>
    </section>
    <!-- feature_post end-->

    <!-- border_top start-->
    <div class="border_top"></div>
    <!-- border_top end-->

    

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-6">
                    <div class="single-footer-widget footer_1">
                        <h4>About Me</h4>
                        <p>Do you want to be even more successful? Learn to love learning and growth. 
                            The more effort you put into improving your skills, the bigger the payoff 
                            you will get. Realize that things will be hard at first, but the rewards 
                            will be worth it.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <span class="ti-home"></span>
                            <h5>Los angeles, United States</h5>
                            <p>659, Rocky beach bullevard, santa monica, Rocky beach, USA.</p>
                        </div>
                        <div class="contact_info">
                            <span class="ti-headphone-alt"></span>
                            <h5>+44 6532 986 652</h5>
                            <p>Mon to Fri 9am to 6 pm.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-10">
                    <div class="single-footer-widget footer_3">
                        <h4>Newsletter</h4>
                        <p>Stay updated with our latest trends The more effort you put into 
                        improving your skills, the bigger the payoff you will get realize that things.</p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter email address'
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>